.cell {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

.empty {
  background-color: var(--board-color);
}

.snake {
  background-color: var(--snake-color);
}

.food {
  background-color: var(--food-color);
}
