.cell {
  width: 100%;
  aspect-ratio: 1/1;
}

.empty {
  background-color: var(--board-color);
}

.snake {
  background-color: var(--snake-color);
}

.food {
  background-color: var(--food-color);
}
