:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #021c1e;
  --food-color: #a61fc9;
  --board-color: #2c7873;
  --snake-color: #6fb98f;
  --light-color: #ffffffde;

  background-color: var(--bg-color);
  color: var(--light-color);
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}
